[Unit]
Description=Siren webhook service

[Container]
Image=ghcr.io/megascope/alertpi/siren-webhook:latest
ContainerName=siren-webhook
PublishPort=8000:8000
EnvironmentFile=%h/.config/siren-webhook/siren-webhook.env
Volume=%h/.config/siren-webhook:/config:Z
Device=/dev/gpiomem
GroupAdd=gpio

[Service]
Restart=always
